Neutrino.External.Sevices/Service References/neu.eliteco.services/EliteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Elite.Neutrino.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Elite.Neutrino.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCompanyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyInfo" nillable="true" type="tns:CompanyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanyInfo" nillable="true" type="tns:ArrayOfCompanyInfo" />
  <xs:complexType name="CompanyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyInfo" nillable="true" type="tns:CompanyInfo" />
  <xs:complexType name="ArrayOfGoodsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoodsInfo" nillable="true" type="tns:GoodsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoodsInfo" nillable="true" type="tns:ArrayOfGoodsInfo" />
  <xs:complexType name="GoodsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="ConsumerPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="EnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Generic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenericCode" type="xs:int" />
      <xs:element minOccurs="0" name="GoodsCode" type="xs:int" />
      <xs:element minOccurs="0" name="HasExtraCharge" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasTaxable" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsTechnicalApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="OfficalCode" type="xs:int" />
      <xs:element minOccurs="0" name="PackageCount" type="xs:int" />
      <xs:element minOccurs="0" name="ProducerId" type="xs:int" />
      <xs:element minOccurs="0" name="PurchasePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="SalesPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="SupplierId" type="xs:int" />
      <xs:element minOccurs="0" name="SupplierType" type="tns:SupplierTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoodsInfo" nillable="true" type="tns:GoodsInfo" />
  <xs:simpleType name="SupplierTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Domestic" />
      <xs:enumeration value="Foreign" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SupplierTypes" nillable="true" type="tns:SupplierTypes" />
  <xs:complexType name="ArrayOfGoodsCat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoodsCat" nillable="true" type="tns:GoodsCat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoodsCat" nillable="true" type="tns:ArrayOfGoodsCat" />
  <xs:complexType name="GoodsCat">
    <xs:sequence>
      <xs:element minOccurs="0" name="GoodsId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoodsCat" nillable="true" type="tns:GoodsCat" />
  <xs:complexType name="ArrayOfGoodsCatType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoodsCatType" nillable="true" type="tns:GoodsCatType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoodsCatType" nillable="true" type="tns:ArrayOfGoodsCatType" />
  <xs:complexType name="GoodsCatType">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoodsCatType" nillable="true" type="tns:GoodsCatType" />
  <xs:complexType name="ArrayOfBranchInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BranchInfo" nillable="true" type="tns:BranchInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranchInfo" nillable="true" type="tns:ArrayOfBranchInfo" />
  <xs:complexType name="BranchInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BranchInfo" nillable="true" type="tns:BranchInfo" />
  <xs:complexType name="ArrayOfMemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberInfo" nillable="true" type="tns:MemberInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberInfo" nillable="true" type="tns:ArrayOfMemberInfo" />
  <xs:complexType name="MemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PositionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberInfo" nillable="true" type="tns:MemberInfo" />
  <xs:complexType name="ArrayOfBranchSalesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BranchSalesInfo" nillable="true" type="tns:BranchSalesInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranchSalesInfo" nillable="true" type="tns:ArrayOfBranchSalesInfo" />
  <xs:complexType name="BranchSalesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" type="xs:int" />
      <xs:element minOccurs="0" name="GoodsId" type="xs:int" />
      <xs:element minOccurs="0" name="SalesDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalTedad" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BranchSalesInfo" nillable="true" type="tns:BranchSalesInfo" />
  <xs:complexType name="ArrayOfInvoiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceInfo" nillable="true" type="tns:InvoiceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceInfo" nillable="true" type="tns:ArrayOfInvoiceInfo" />
  <xs:complexType name="InvoiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GoodsId" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SellerId" type="xs:int" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceInfo" nillable="true" type="tns:InvoiceInfo" />
  <xs:complexType name="ArrayOfPayroll">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payroll" nillable="true" type="tns:Payroll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayroll" nillable="true" type="tns:ArrayOfPayroll" />
  <xs:complexType name="Payroll">
    <xs:sequence>
      <xs:element minOccurs="0" name="MemberId" type="xs:int" />
      <xs:element minOccurs="0" name="Payment" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payroll" nillable="true" type="tns:Payroll" />
  <xs:complexType name="ArrayOfMandehFaktor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MandehFaktor" nillable="true" type="tns:MandehFaktor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMandehFaktor" nillable="true" type="tns:ArrayOfMandehFaktor" />
  <xs:complexType name="MandehFaktor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codemoshtary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameMoshtary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShomarehFaktor" type="xs:int" />
      <xs:element minOccurs="0" name="TarikhFaktor" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ccForoshandeh" type="xs:int" />
      <xs:element minOccurs="0" name="ccafrad" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ccmarkazpakhsh" type="xs:int" />
      <xs:element minOccurs="0" name="mablaghmandehmoshtary" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="namegoroh" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MandehFaktor" nillable="true" type="tns:MandehFaktor" />
  <xs:complexType name="ArrayOfMemberReceiptInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberReceiptInfo" nillable="true" type="tns:MemberReceiptInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberReceiptInfo" nillable="true" type="tns:ArrayOfMemberReceiptInfo" />
  <xs:complexType name="MemberReceiptInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="MemberId" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberReceiptInfo" nillable="true" type="tns:MemberReceiptInfo" />
  <xs:complexType name="ArrayOfBranchReceiptInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BranchReceiptInfo" nillable="true" type="tns:BranchReceiptInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBranchReceiptInfo" nillable="true" type="tns:ArrayOfBranchReceiptInfo" />
  <xs:complexType name="BranchReceiptInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceiptAmountKho" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BranchReceiptInfo" nillable="true" type="tns:BranchReceiptInfo" />
  <xs:complexType name="ArrayOfCustomerGoalsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerGoalsInfo" nillable="true" type="tns:CustomerGoalsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerGoalsInfo" nillable="true" type="tns:ArrayOfCustomerGoalsInfo" />
  <xs:complexType name="CustomerGoalsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerCount" type="xs:int" />
      <xs:element minOccurs="0" name="GoodsId" type="xs:int" />
      <xs:element minOccurs="0" name="Promotion" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReachedCount" type="xs:int" />
      <xs:element minOccurs="0" name="ReachedPercent" type="xs:decimal" />
      <xs:element minOccurs="0" name="SalesCount" type="xs:int" />
      <xs:element minOccurs="0" name="SellerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerGoalsInfo" nillable="true" type="tns:CustomerGoalsInfo" />
  <xs:complexType name="ArrayOfDepartmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentInfo" nillable="true" type="tns:DepartmentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentInfo" nillable="true" type="tns:ArrayOfDepartmentInfo" />
  <xs:complexType name="DepartmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentInfo" nillable="true" type="tns:DepartmentInfo" />
  <xs:complexType name="ArrayOfPositionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PositionInfo" nillable="true" type="tns:PositionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPositionInfo" nillable="true" type="tns:ArrayOfPositionInfo" />
  <xs:complexType name="PositionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionInfo" nillable="true" type="tns:PositionInfo" />
</xs:schema>